main .btn-hamburger {
  display: none;
}

#sidebar {
  background-color: var(--color-1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  
  transition: width 500ms ease-in-out;
  --menu-item--padding: 13px;
}

#sidebar .sidebar--container {
  padding: var(--window--margin-top) 14px;
  padding-bottom: 0;
}

main .btn-hamburger img,
#sidebar img[src$=".svg"] {
  filter: saturate(0) brightness(1);
}

main .btn-hamburger,
#sidebar button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

#sidebar--header {
  display: flex;
  justify-content: space-between;
  height: 24px;
}

#sidebar--header .logo {
  margin-left: var(--menu-item--padding);
}

/* SIDEBAR MENU */
#sidebar--menu {
  padding: 30px 0;
  display: flex;
}

#sidebar--menu #menu-items {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#sidebar--menu li {
  list-style: none;
}

#sidebar--menu .menu-item {
  display: flex;
  align-items: center;
  gap: 1.1ch;
  padding: var(--menu-item--padding);
  width: 100%;
  overflow: hidden;

  text-decoration: 0;
  color: var(--color-font-1);
}

#sidebar--menu .menu-item-active {
  background-color: var(--color-2);
  border-radius: .8em;
}

#sidebar--menu .menu-item--text {
  transition: opacity 400ms ease-in-out;
}
/* SIDEBAR MENU */

/* SIDEBAR FOOTER */
#sidebar--footer {
  background-color: var(--color-2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .7em var(--menu-item--padding);
  gap: 1.5em;
  height: 3.8em;
  line-height: 1rem;
}

#sidebar--footer .vet-container {
  display: flex;
  align-items: center;
  gap: .5em;
  transition: opacity 500ms ease-in-out;
}

#sidebar--footer .vet-picture {
  height: 2.5em;
  aspect-ratio: 1/1;
  border-radius: .5em;
  object-fit: cover;
}

#sidebar--footer .occupation {
  font-size: .8rem;
}

#sidebar--footer .btn-logout {
  line-height: 0;
}
/* SIDEBAR FOOTER */


/* SIDEBAR CLOSED STYLING */
#sidebar.sidebar-closed {
  width: 80px;
}

#sidebar.sidebar-closed #sidebar--header .logo,
#sidebar.sidebar-closed #sidebar--footer .vet-container {
  display: none;
}

#sidebar.sidebar-closed #sidebar--header,
#sidebar.sidebar-closed #sidebar--footer {
  justify-content: center;
}
/* SIDEBAR CLOSED STYLING */


/* MOBILE STYLING */
@media (max-width: 600px) {
  main .btn-hamburger {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    padding: .3em;
    border-radius: 0 0 0 .5em;
    background-color: var(--color-1);
  }
  
  #sidebar {
    position: fixed;
    z-index: 1;
    height: calc(100% - 38px);
    width: 100%;
    transition: all 500ms ease-in-out;
  }
  
  #sidebar.sidebar-closed {
    transform: translateX(-100%);
  }
}
/* MOBILE STYLING */
