:root {
  --color-1: hsl(50 100% 80%);
  --color-font-1: hsl(0 0% 20%);
  background-color: #202020;
  font-family: Roboto, sans-serif;
  padding: 3vw;
  scroll-behavior: smooth;
}

.window {
  background-color: white;
  color: var(--color-font);
  filter: drop-shadow(0 0 10px rgb(0 0 0 / 0.3));
  border-radius: 15px 15px 0 0;
}


/* WINDOW HEADER */
.window--header {
  background-color: hsl(220 10% 50%);
  height: 20px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em .8em;
}

.balls {
  display: flex;
  gap: .5em;
}

.ball {
  width: 15px;
  height: 15px;
  border-radius: 100%;
}
.red {
  background-color: hsl(0 100% 50%);
}
.yellow {
  background-color: hsl(50 100% 50%);
}
.green {
  background-color: hsl(120 100% 50%);
}

.my-logo-link {
  align-self: stretch;
}

.my-logo {
  height: 20px;
}
/* WINDOW HEADER - END */
